### use # to comment out the configure item

################ Status ################
mode=train
# string: train/test/interactive_predict

################ Datasets(Input/Output) ################
datasets_fold=data/example_datasets1
train_file=train_data.json
dev_file=dev_data.json
test_file=None

################ Dir ################
log_dir=logs
checkpoints_dir=models

################ Labeling Scheme ################

class_name=[company,position,detail]

################ Training Settings ################
epoch=60
batch_size=128

dropout=0.5
learning_rate=1e-3

is_early_stop=True
patient=5
# unnecessary if is_early_stop=False